@page "/"
<PageTitle>Home</PageTitle>
<p>Go to the <a href="/designer">Designer</a> to build a form with reusable components.</p>


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
