@inherits UiDatePickerBase


<div class="mb-3 @CssClass" style="grid-column: span @Cols">
    <label class="form-label">@Title</label>
    <input type="date" class="form-control" @bind-value="Value" />
</div>
